@import '@/styles/globalStyles.scss';

.app-layout {
  .app-layout-header {
    background: $main-white-color;
    padding: 0 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 50%) 0px -1px 8px;
    height: 70px;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $main-orange-color;

      &:hover {
        cursor: pointer;
      }
    }

    .header-sections {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      .login-btn {
        background: $main-green-color;
        width: 86px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-white-color;
        border-radius: 8px;
        span {
          font-weight: 700;
        }
      }

      .section-item {
        font-family: $poppins-font;
        font-size: 16px;
        font-weight: 700;
        color: $main-black-color;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
